
ul li{
    border: 1px solid black;
    padding: 10px;
    list-style: none;
}
h1{
    text-align: center;
}
body{
    margin-top: 200px;
}

input{
    border: none; width: 100%;
}

ul{
    padding: 0;
    margin-bottom: 0;
}
